.header{
  &-area{
    position: absolute;

    margin-right: 80%;

    height: 100%;

    background-color: map-deep-get($dashcolors, "background", "base");
  }
  &-collapse{
    ul{
      li{
        padding-left: 1rem;
        a{
        }
      }
    }
  }
  &-logo{
    top: 1rem;
    padding: 1rem;
    margin-bottom: 3rem;
    }

    a{
      padding: 1rem;
    }
}

.link{
  &-bar{
    background-color: map-deep-get($dashcolors, "background", "top");
  }
  &-minimalize-btn{
    padding: 4px 12px;
    margin: 22px 5px 5px 20px;

    font-size: 14px;

    float: left;
  }

  &-form{
    margin: 22px 0px 0px 20px;

    height: 50px;
    width: 200px;

    float: left;

  }

  &-right{
    ul{
      li{
        display: inline-block;
        position: relative;
        a{
          img{
            height: 30px;
            width: 30px;
          }

        }

      }
    }
  }

  &-myProfile{
    margin-right: 20px;
  }
}
